In [1]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

#mlxtend - used in the context of frequent pattern mining and association rule learning.
#'TransactionEncoder is a class provided by mlxtend for converting a list of transactions into a one-hot encoded DataFrame.
#apriori is a function in mlxtend.frequent_patterns that implements the Apriori algorithm. It is used to find frequent itemsets in a transaction dataset.
#association_rules is another function in mlxtend.frequent_patterns that generates association rules from frequent itemsets.

In [2]:
df=pd.read_csv('Practical Exam Datasets/Apriori/Order3.csv')

In [3]:
df.head()

   TransactionNo          Items          DateTime  Daypart  DayType
0              1          Bread   10/30/2016 9:58  Morning  Weekend
1              2   Scandinavian  10/30/2016 10:05  Morning  Weekend
2              2   Scandinavian  10/30/2016 10:05  Morning  Weekend
3              3  Hot chocolate  10/30/2016 10:07  Morning  Weekend
4              3            Jam  10/30/2016 10:07  Morning  Weekend

In [4]:
transactions=df.groupby('TransactionNo')['Items'].apply(list).reset_index(name='Transaction_Items')
transactions

#This part of the code groups the DataFrame (df) by the 'TransactionNo' column. 
#It creates groups based on unique values in the 'TransactionNo' column, and for each group, it selects the 'Items' column.

#.apply(list)
#This part of the code groups the DataFrame (df) by the 'TransactionNo' column. 
#It creates groups based on unique values in the 'TransactionNo' column, and for each group, it selects the 'Items' column.

#After applying the list function, it resets the index of the resulting DataFrame and renames the column containing the lists of 
#items to 'Transaction_Items'. This creates a new DataFrame (transactions) where each row represents a unique transaction, and the 
#'Transaction_Items' column contains a list of items associated with that transaction.

      TransactionNo                                  Transaction_Items
0                 1                                            [Bread]
1                 2                       [Scandinavian, Scandinavian]
2                 3                      [Hot chocolate, Jam, Cookies]
3                 4                                           [Muffin]
4                 5                            [Coffee, Pastry, Bread]
...             ...                                                ...
9460           9680                                            [Bread]
9461           9681  [Truffles, Tea, Spanish Brunch, Christmas common]
9462           9682                [Muffin, Tacos/Fajita, Coffee, Tea]
9463           9683                                   [Coffee, Pastry]
9464           9684                                        [Smoothies]

[9465 rows x 2 columns]

In [5]:
#The TransactionEncoder is used to convert a list of transactions (lists of items) into a one-hot encoded matrix.
te=TransactionEncoder() 

#It converts the list of transactions into a one-hot encoded matrix (te_array), where each row represents a transaction,
#and each column represents a unique item. The values are binary (0 or 1) indicating the presence or absence of an item in a transaction.
te_array=te.fit_transform(transactions['Transaction_Items'])

#The one-hot encoded matrix (te_array) is used to create a new DataFrame (data_encoder) using pandas.
#te.columns_ provides the list of unique items (columns) from the transactions, and these are used as column names in the new DataFrame.
#The resulting DataFrame (data_encoder) is a one-hot encoded representation of the original transaction data.
data_encoder=pd.DataFrame(te_array,columns=te.columns_)

In [6]:
#It employs the Apriori algorithm, which is a classic algorithm for association rule mining.
#min_support=0.01: The minimum support threshold. It specifies the minimum proportion of transactions 
#that must contain a particular itemset for it to be considered "frequent." In this case, it's set to 1%.

frequent_items=apriori(data_encoder,min_support=0.02,use_colnames=True)
frequent_items

     support                 itemsets
0   0.036344              (Alfajores)
1   0.327205                  (Bread)
2   0.040042                (Brownie)
3   0.103856                   (Cake)
4   0.478394                 (Coffee)
5   0.054411                (Cookies)
6   0.039197             (Farm House)
7   0.058320          (Hot chocolate)
8   0.038563                  (Juice)
9   0.061807              (Medialuna)
10  0.038457                 (Muffin)
11  0.086107                 (Pastry)
12  0.071844               (Sandwich)
13  0.029054           (Scandinavian)
14  0.034548                  (Scone)
15  0.034443                   (Soup)
16  0.142631                    (Tea)
17  0.033597                  (Toast)
18  0.020285               (Truffles)
19  0.023349            (Bread, Cake)
20  0.090016          (Coffee, Bread)
21  0.029160          (Bread, Pastry)
22  0.028104             (Bread, Tea)
23  0.054728           (Coffee, Cake)
24  0.023772              (Tea, Cake)
25  0.028209        (Coffee, Cookies)
26  0.029583  (Hot chocolate, Coffee)
27  0.020602          (Coffee, Juice)
28  0.035182      (Medialuna, Coffee)
29  0.047544         (Coffee, Pastry)
30  0.038246       (Sandwich, Coffee)
31  0.049868            (Coffee, Tea)
32  0.023666          (Toast, Coffee)

In [7]:
#lift, min_threshold is used to set the lift min val to be included in the list to display
rules=association_rules(frequent_items,metric='lift',min_threshold=1)
rules
#rules.iloc[:,:-3]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bread),(Pastry),0.327205,0.086107,0.029160,0.089119,1.034977,0.000985,1.003306,0.050231
1,(Pastry),(Bread),0.086107,0.327205,0.029160,0.338650,1.034977,0.000985,1.017305,0.036980
2,(Coffee),(Cake),0.478394,0.103856,0.054728,0.114399,1.101515,0.005044,1.011905,0.176684
3,(Cake),(Coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664,0.102840
4,(Tea),(Cake),0.142631,0.103856,0.023772,0.166667,1.604781,0.008959,1.075372,0.439556
5,(Cake),(Tea),0.103856,0.142631,0.023772,0.228891,1.604781,0.008959,1.111865,0.420538
6,(Coffee),(Cookies),0.478394,0.054411,0.028209,0.058966,1.083723,0.002179,1.004841,0.148110
7,(Cookies),(Coffee),0.054411,0.478394,0.028209,0.518447,1.083723,0.002179,1.083174,0.081700
8,(Hot chocolate),(Coffee),0.058320,0.478394,0.029583,0.507246,1.060311,0.001683,1.058553,0.060403
9,(Coffee),(Hot chocolate),0.478394,0.058320,0.029583,0.061837,1.060311,0.001683,1.003749,0.109048
10,(Coffee),(Juice),0.478394,0.038563,0.020602,0.043065,1.116750,0.002154,1.004705,0.200428
11,(Juice),(Coffee),0.038563,0.478394,0.020602,0.534247,1.116750,0.002154,1.119919,0.108738
12,(Medialuna),(Coffee),0.061807,0.478394,0.035182,0.569231,1.189878,0.005614,1.210871,0.170091
13,(Coffee),(Medialuna),0.478394,0.061807,0.035182,0.073542,1.189878,0.005614,1.012667,0.305936
14,(Coffee),(Pastry),0.478394,0.086107,0.047544,0.099382,1.154168,0.006351,1.014740,0.256084
15,(Pastry),(Coffee),0.086107,0.478394,0.047544,0.552147,1.154168,0.006351,1.164682,0.146161
16,(Sandwich),(Coffee),0.071844,0.478394,0.038246,0.532353,1.112792,0.003877,1.115384,0.109205
17,(Coffee),(Sandwich),0.478394,0.071844,0.038246,0.079947,1.112792,0.003877,1.008807,0.194321
18,(Toast),(Coffee),0.033597,0.478394,0.023666,0.704403,1.472431,0.007593,1.764582,0.332006
19,(Coffee),(Toast),0.478394,0.033597,0.023666,0.049470,1.472431,0.007593,1.016699,0.615122